.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #222d32;
}
.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
html {
    .skin-blue .wrapper,
    .skin-blue .main-sidebar,
    .skin-blue .left-side {
        background-color: #222d32;
    }
    .wrapper {
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .wrapper:before,
    .wrapper:after {
        content: " ";
        display: table;
    }
    /*control bar*/

    .main-header {
        position: relative;
        max-height: 100px;
        z-index: 1030;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }

    .main-header .navbar {
        background-color: #273135;
    }
    body {
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
            sans-serif;
        font-weight: 400;
        font-size: 1.6em;
        line-height: 1.42857143;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .sidebar-toggle {
            top: 23px !important;
        }
    }
    .main-header .sidebar-toggle {
        float: left;
        background-color: transparent;
        background-image: none;
        margin-top: -5px;
        padding: 20px;
        font-family: fontAwesome;
        color: white;
    }
    @media (min-width: 992px) and (max-width: 99999px) {
        .main-header .sidebar-toggle {
            position: relative;
            left: 6px;
            top: 9px;
            color: #ffffff;
        }
    }

    .sidebar-toggle {
        position: relative;
        left: 15px;
    }
    .main-header .sidebar-toggle:before {
        content: "\f0c9";
    }
    .main-header .sidebar-toggle::before {
        content: "\f0c9";
        font-size: 23px;
        position: absolute;
        text-align: 14px;
        top: 10px;
        padding: 5px 10px;
        width: 40px;
        z-index: 9999;
    }
    .main-sidebar,
    .left-side {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 50px;
        min-height: 100%;
        width: 230px;
        z-index: 810;
        -webkit-transition: -webkit-transform 0.3s ease-in-out,
            width 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        padding-top: 6px;
    }
    @media (min-width: 768px) {
        .sidebar-mini.sidebar-collapse .main-header .navbar {
            margin-left: 50px;
        }
    }
    .main-header .navbar.navbar-static-top {
        padding-top: 12px;
    }
    .main-header .navbar {
        -webkit-transition: margin-left 0.3s ease-in-out;
        -o-transition: margin-left 0.3s ease-in-out;
        transition: margin-left 0.3s ease-in-out;
        margin-bottom: 0;
        border: none;
        min-height: 70px;
        border-radius: 0;
    }
    @media (min-width: 768px) {
        .navbar-static-top {
            border-radius: 0;
        }
    }

    .navbar-static-top {
        z-index: 1000;
        border-width: 0 0 1px;
    }
    @media (min-width: 768px) {
        .navbar {
            border-radius: 4px;
        }
    }
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    .skin-blue .main-header .navbar .sidebar-toggle {
        color: #fff;
    }
    .hidden-lg {
        display: none;
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .outer-logo-area {
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-3 {
            width: 25%;
        }
    }
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }

    @media (min-width: 1200px) {
        .col-lg-2 {
            width: 16.66666667%;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left;
    }
    .main-header .navbar-custom-menu,
    .main-header .navbar-right {
        float: right;
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .inner-logo-area .skill-logo img {
            width: 165px;
        }
    }

    @media (max-width: 991px) and (min-width: 20px) {
        .inner-logo-area .digiskill-logo img {
            width: 145px;
        }
    }

    img {
        border: 0;
    }

    @media (min-width: 1200px) {
        .col-lg-2 {
            width: 16.66666667%;
        }
    }
    .main-header .sidebar-toggle .icon-bar {
        display: none;
    }

    @media (min-width: 1200px) and (max-width: 99999px) {
        #header_text {
            padding-top: 0px;
        }
    }
    #header_text {
        display: block !important;
        position: relative;
        color: #ffffff !important;
        margin-left: 5px;
        font-family: &quot;
        font-size: 1.2em;
        vertical-align: middle;
        text-align: center;
        margin-top: 5px;
        float: left;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        #header_text {
            font-size: 20px !important;
            margin-top: 10px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        #header_text {
            font-size: 16px !important;
            text-align: right;
            margin-left: 15px !important;
            margin-top: 6px;
        }
    }
    @media (min-width: 1px) and (max-width: 768px) {
        #header_text {
            position: relative;
            top: -8px;
            width: 100%;
            font-size: 16px;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-6 {
            width: 50%;
        }
    }

    @media (min-width: 992px) {
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9 {
            float: left;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .navbar-custom-menu {
            padding: 0 15px 0px 0px !important;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .navbar-custom-menu {
            padding: 0 15px 0px 0px !important;
        }
    }
    @media (max-width: 991px) {
        .navbar-custom-menu .navbar-nav {
            margin: 0;
            float: left;
            margin-top: -12px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .navbar-nav {
            margin: 3px 0px 0px 0px !important;
        }
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    @media (max-width: 1550px) and (min-width: 992px) {
        .nav.navbar-nav.pull-right {
            display: inline-flex;
            font-size: 12px;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    @media (max-width: 99999px) and (min-width: 992px) {
        .navbar-nav {
            margin: 5px 0px 0px 0px;
        }
    }

    @media (min-width: 768px) {
        .navbar-nav {
            margin: 11px 0px 0px 0px;
        }
    }

    .pull-right {
        float: right;
    }

    .dropdown.user.user-menu {
        padding-top: 0px;
    }

    @media (min-width: 768px) {
        .navbar-nav > li {
            float: left;
        }
    }
    @media (max-width: 991px) {
        .navbar-custom-menu .navbar-nav > li {
            float: left;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .skin-blue .main-header .navbar .nav > li > a.dropdown-toggle {
            font-size: 11.5px !important;
        }
    }
    @media (max-width: 991px) and (min-width: 30px) {
        .skin-blue .main-header .navbar .nav > li > a {
            font-size: 15px !important;
        }
    }
    .nav > li {
        position: relative;
        display: block;
    }

    @media (max-width: 767px) {
        .navbar-nav > .user-menu .user-image {
            float: none;
            margin-right: 0;
            margin-top: -8px;
            line-height: 10px;
        }
    }
    @media (min-width: 992px) and (max-width: 99999px) {
        .user-menu {
            width: 209px;
        }
    }
    .dropdown,
    .dropup {
        position: relative;
    }

    .skin-blue .main-header .navbar .nav > li > a {
        color: white;
    }
    .main-header .navbar-nav > li > a {
        padding-top: 10px;
    }

    .user-menu .dropdown-toggle {
        font-size: 13px;
    }

    .dropdown-toggle::after {
        content: "";
        visibility: hidden;
    }
    .navbar-nav > .user-menu .user-image {
        float: left;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -2px;
    }

    .user-menu span {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inherit;
    }

    .navbar-nav > .user-menu > .dropdown-menu {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 1px 0 0 0;
        border-top-width: 0;
        width: 280px;
    }
    .navbar-nav > li > .dropdown-menu {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    @media (min-width: 992px) {
        .user-menu .dropdown-menu {
            position: absolute;
            top: 100%;
            left: -23%;
            top: 147%;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        box-shadow: none;
        border-color: #1e2528;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        height: 175px;
        padding: 10px;
        text-align: center;
    }
    .skin-blue .main-header li.user-header {
        background-color: #1e2428;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
        z-index: 5;
        height: 90px;
        width: 90px;
        border: 3px solid;
        border-color: transparent;
        border-color: rgba(255, 255, 255, 0.2);
    }
    .img-circle {
        border-radius: 50%;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
        z-index: 5;
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        font-size: 17px;
        margin-top: 10px;
    }
    p {
        margin: 0 0 10px;
    }

    .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
        background-color: #f9f9f9;
        padding: 10px;
    }
    @media (min-width: 1199px) and (max-width: 1515px) {
        .navbar-custom-menu li a {
            padding: 4px !important;
        }
    }
    @media (min-width: 768px) {
        .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .nav > li > a {
        position: relative;
        display: block;
    }
    .pull-left {
        float: left;
    }

    .fa {
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
    }
    /* SIDEBAR */

    .sidebar {
        padding-bottom: 10px;
    }

    .sidebar-menu {
        margin: 20px 0px;
        padding: 0px;
    }

    .skin-blue .sidebar-menu > li > a {
        border-left: 3px solid transparent;
        padding-left: 10px;
        color: white;
    }
    @media (min-width: 768px) {
        .sidebar-mini.sidebar-collapse .main-sidebar {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            width: 50px !important;
            z-index: 850;
        }
    }
    @media (max-width: 767px) {
        .main-sidebar,
        .left-side {
            -webkit-transform: translate(-230px, 0);
            -ms-transform: translate(-230px, 0);
            -o-transform: translate(-230px, 0);
            transform: translate(-230px, 0);
        }
    }
    #main {
        transition: margin-left 0.5s; /* If you want a transition effect */
        padding: 20px;
    }
    .main-sidebar,
    .left-side {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 50px;
        min-height: 100%;
        width: 230px;
        z-index: 810;
        -webkit-transition: -webkit-transform 0.3s ease-in-out,
            width 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
    @media (min-width: 320px) and (max-width: 551px) {
        .sidebar .sidebar-menu {
            padding-top: 18px;
        }
    }
    @media (min-width: 768px) {
        .sidebar-mini.sidebar-collapse .sidebar-menu > li {
            position: relative;
        }
    }
    @media (min-width: 768px) {
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
            margin-right: 0;
        }
    }
    .sidebar-menu > li {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .sidebar-menu > li > a > i {
        font-size: 20px;
    }

    .sidebar-menu > li > a > span {
        display: none;
    }

    .content-wrapper {
        margin-left: 50px;
        z-index: 840;
        background-color: #ecf0f5;
    }
    @media (min-width: 768px) {
        .sidebar-mini.sidebar-collapse .content-wrapper,
        .sidebar-mini.sidebar-collapse .right-side,
        .sidebar-mini.sidebar-collapse .main-footer {
            margin-left: 50px !important;
            z-index: 840;
        }
    }

    .dropdownmenu {
        background-color: #1e2428;
        position: absolute;
        left: 80%;
        z-index: 5;
    }

    .skin-blue .sidebar-menu > li:hover > a,
    .skin-blue .sidebar-menu > li.active > a {
        color: #fff;
        background: #1e282c;
        border-left-color: #3c8dbc;
    }
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .showside {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #222d32;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 70;
        margin: 20px 0px;
    }

    .showside a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
        margin-right: 0;
        padding-left: 10px;
        display: block;
        padding-top: 12px;
    }

    .showside span {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        transition: 0.3s;
        margin-right: 0;
        padding-left: 30px;
    }

    #masla1 {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
        margin-right: 0;
        padding-left: 5px;
        padding-top: 5px;
        display: block;
    }

    /*Content*/
    .content-header {
        position: relative;
        padding: 15px 15px 0 15px;
        padding: 30px 15px 15px 27px;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }
    .skin-blue .content-header {
        background: transparent;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: "Source Sans Pro", sans-serif;
    }

    .content-header > h1 {
        margin: 0;
        font-size: 30px;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    .content-header > h1 > small {
        font-size: 15px;
        display: inline-block;
        padding-left: 4px;
        font-weight: 300;
    }
    .content-header > .breadcrumb {
        float: left;
        background: transparent;
        margin-top: 0;
        font-size: 12px;
        padding: 7px 5px;
        position: absolute;
        top: 50px;
        left: 10px;
        border-radius: 2px;
    }
    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        background-color: #f5f5f5;
        border-radius: 4px;
    }
    .margin {
        margin: 10px;
    }
    .margin1 {
        margin: 10px;
    }

    .margin1:before {
        content: "\f015";
        font-size: 15px;
    }
    .fa-book:before {
        content: "\f02d";
        font-size: 15px;
    }
    .fa-caret-right {
        font-size: 17px;
        margin-top: 11px;
    }

    .content {
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 992px) {
        .col-md-3 {
            width: 25%;
        }
    }

    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .box.box-primary {
        border-top-color: #3c8dbc;
        border-top-color: #00aeef;
    }

    .box {
        position: relative;
        border-radius: 3px;
        background: #ffffff;
        border-top: 3px solid #d2d6de;
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    }
    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
        padding: 15px 10px 15px 10px;
    }
    #profileImage img {
        cursor: pointer;
    }
    .profile-user-img {
        margin: 0 auto;
        width: 100px;
        padding: 3px;
        border: 3px solid #d2d6de;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    #overlay {
        text-align: center;
        padding: 17px 0px 73px 0px;
        opacity: 1;
        margin: 0 auto;
        width: 115px;
        border-radius: 50%;
        margin-top: -112px;
    }

    .fa-camera:before {
        content: "\f030";
    }

    .profile-username {
        font-size: 21px;
        margin-top: 5px;
    }
    .text-center {
        text-align: center;
    }

    .no-padding {
        padding: 0 !important;
    }
    .box-footer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top: 1px solid #f4f4f4;
        padding: 10px;
        background-color: #fff;
    }

    dl {
        margin-top: 0;
        margin-bottom: 20px;
    }
    dt {
        font-weight: 700;
    }
    dd,
    dt {
        line-height: 1.42857143;
    }
    .margin-r-5 {
        margin-right: 5px;
    }

    dd {
        margin-left: 0;
        font-size: 15px;
    }

    @media (min-width: 992px) {
        .col-md-9 {
            width: 75%;
        }
    }
    .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        border-radius: 3px;
    }

    .nav-tabs-custom > .tab-content {
        background: #fff;
        padding: 10px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .tab-content > .active {
        display: block;
    }
    .tab-content > .tab-pane {
        display: visible;
    }
    .post:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .post {
        border-bottom: 1px solid #d2d6de;
        margin-bottom: 15px;
        padding-bottom: 15px;
        color: #666;
    }
    @media (min-width: 992px) {
        .col-md-12 {
            width: 100%;
        }
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 16px;
    }
    .text-red {
        color: #dd4b39 !important;
    }

    .panel-group {
        margin-bottom: 20px;
    }
    #main .panel.panel-default {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px;
    }
    .panel-default {
        border-color: #ed1c24 !important;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    }

    .panel-default .panel-heading {
        margin: 5px;
    }

    .panel-default .panel-heading {
        color: #fff;
        background-color: #ed1c24 !important;
        border-color: #ed1c24 !important;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
    .panel-group .panel-heading {
        border-bottom: 0;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-default .panel-heading .panel-title {
        font-weight: bold;
    }
    .panel-default .panel-heading .panel-title a {
        color: #fff !important;
        text-decoration: none;
    }
    h4.panel-title a {
        display: block;
        text-decoration: none;
    }
    .panel-title > a:before {
        float: right !important;
        font-family: FontAwesome;
        content: "\f068";
        padding-right: 5px;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

    .panel-default > .panel-heading + .panel-colapse > .panel-body {
        border-top-color: #ed1c24;
    }
    .panel-group .panel-heading + .panel-colapse > .list-group,
    .panel-group .panel-heading + .panel-colapse > .panel-body {
        border-top: 1px solid #ed1c24;
    }
    .panel-body {
        padding: 15px;
    }
    @media (min-width: 992px) {
        .col-md-4 {
            width: 33.33333333%;
        }
    }

    .form-control {
        font-size: 15px;
    }
    .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #00aeef;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }
    .col-md-3,
    .col-md-4 > label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 16px;
    }

    @media (min-width: 992px) {
        .col-md-3 {
            width: 25%;
        }
    }

    @media (min-width: 992px) {
        .col-md-12 {
            width: 100%;
        }
    }
    td,
    th {
        padding: 0;
    }

    table td label {
        font-weight: normal;
    }
    @media (min-width: 992px) {
        .col-md-12 {
            width: 100%;
        }
    }

    @media (min-width: 992px) {
        .col-md-8 {
            width: 66.66666667%;
        }
    }

    .no-border {
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }

    textarea {
        overflow: auto;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font: inherit;
        color: inherit;
    }
    .panel-title > a.colapsed:before {
        float: right !important;
        content: "\f067";
        text-decoration: none;
    }
    .colapse.in {
        display: block;
    }

    .colapse {
        display: none;
    }

    @media (min-width: 992px) {
        .col-md-6 {
            width: 50%;
        }
    }

    .btn-primary {
        background-color: #3c8dbc;
        border-color: #367fa9;
    }

    .btn {
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid transparent;
    }
    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .nigga {
        color: #ecf0f5;
    }
    scroll-behavior: smooth;
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.main-header .navbar {
    background-color: #273135;
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.42857143;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-toggle {
        top: 23px !important;
    }
}
.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    margin-top: -5px;
    padding: 20px;
    font-family: fontAwesome;
    color: white;
}
@media (min-width: 992px) and (max-width: 99999px) {
    .main-header .sidebar-toggle {
        position: relative;
        left: 6px;
        top: 9px;
        color: #ffffff;
    }
}

.sidebar-toggle {
    position: relative;
    left: 15px;
}
.main-header .sidebar-toggle:before {
    content: "\f0c9";
}
.main-header .sidebar-toggle::before {
    content: "\f0c9";
    font-size: 23px;
    position: absolute;
    text-align: 14px;
    top: 10px;
    padding: 5px 10px;
    width: 40px;
    z-index: 9999;
}
.main-sidebar,
.left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out,
        width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
    padding-top: 6px;
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px;
    }
}
.main-header .navbar.navbar-static-top {
    padding-top: 12px;
}
.main-header .navbar {
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 0;
    border: none;
    min-height: 70px;
    border-radius: 0;
}
@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.hidden-lg {
    display: none;
}
@media (max-width: 991px) and (min-width: 768px) {
    .outer-logo-area {
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    float: left;
}

@media (min-width: 1200px) {
    .col-lg-2 {
        width: 16.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9 {
    float: left;
}
.main-header .navbar-custom-menu,
.main-header .navbar-right {
    float: right;
}
@media (max-width: 991px) and (min-width: 768px) {
    .inner-logo-area .skill-logo img {
        width: 165px;
    }
}

@media (max-width: 991px) and (min-width: 20px) {
    .inner-logo-area .digiskill-logo img {
        width: 145px;
    }
}

img {
    border: 0;
}

@media (min-width: 1200px) {
    .col-lg-2 {
        width: 16.66666667%;
    }
}
.main-header .sidebar-toggle .icon-bar {
    display: none;
}

@media (min-width: 1200px) and (max-width: 99999px) {
    #header_text {
        padding-top: 0px;
    }
}
#header_text {
    display: block !important;
    position: relative;
    color: #ffffff !important;
    margin-left: 5px;
    font-family: &quot;
    font-size: 1.2em;
    vertical-align: middle;
    text-align: center;
    margin-top: 5px;
    float: left;
}
@media (min-width: 992px) and (max-width: 1199px) {
    #header_text {
        font-size: 20px !important;
        margin-top: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #header_text {
        font-size: 16px !important;
        text-align: right;
        margin-left: 15px !important;
        margin-top: 6px;
    }
}
@media (min-width: 1px) and (max-width: 768px) {
    #header_text {
        position: relative;
        top: -8px;
        width: 100%;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .col-lg-6 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-custom-menu {
        padding: 0 15px 0px 0px !important;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .navbar-custom-menu {
        padding: 0 15px 0px 0px !important;
    }
}
@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav {
        margin: 0;
        float: left;
        margin-top: -12px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .navbar-nav {
        margin: 3px 0px 0px 0px !important;
    }
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

@media (max-width: 1550px) and (min-width: 992px) {
    .nav.navbar-nav.pull-right {
        display: inline-flex;
        font-size: 12px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media (max-width: 99999px) and (min-width: 992px) {
    .navbar-nav {
        margin: 5px 0px 0px 0px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 11px 0px 0px 0px;
    }
}

.pull-right {
    float: right;
}

.dropdown.user.user-menu {
    padding-top: 0px;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
    }
}
@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li {
        float: left;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .skin-blue .main-header .navbar .nav > li > a.dropdown-toggle {
        font-size: 11.5px !important;
    }
}
@media (max-width: 991px) and (min-width: 30px) {
    .skin-blue .main-header .navbar .nav > li > a {
        font-size: 15px !important;
    }
}
.nav > li {
    position: relative;
    display: block;
}

@media (max-width: 767px) {
    .navbar-nav > .user-menu .user-image {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px;
    }
}
@media (min-width: 992px) and (max-width: 99999px) {
    .user-menu {
        width: 209px;
    }
}
.dropdown,
.dropup {
    position: relative;
}

.skin-blue .main-header .navbar .nav > li > a {
    color: white;
}
.main-header .navbar-nav > li > a {
    padding-top: 10px;
}

.user-menu .dropdown-toggle {
    font-size: 13px;
}

.dropdown-toggle::after {
    content: "";
    visibility: hidden;
}
.navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.user-menu span {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
}

.navbar-nav > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (min-width: 992px) {
    .user-menu .dropdown-menu {
        position: absolute;
        top: 100%;
        left: -23%;
        top: 147%;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    box-shadow: none;
    border-color: #1e2528;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}
.skin-blue .main-header li.user-header {
    background-color: #1e2428;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}
.img-circle {
    border-radius: 50%;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
}
p {
    margin: 0 0 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
@media (min-width: 1199px) and (max-width: 1515px) {
    .navbar-custom-menu li a {
        padding: 4px !important;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.nav > li > a {
    position: relative;
    display: block;
}
.pull-left {
    float: left;
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}
/* SIDEBAR */

.sidebar {
    padding-bottom: 10px;
}

.sidebar-menu {
    margin: 20px 0px;
    padding: 0px;
}

.skin-blue .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    padding-left: 10px;
    color: white;
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }
}
@media (max-width: 767px) {
    .main-sidebar,
    .left-side {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}
#main {
    transition: margin-left 0.5s; /* If you want a transition effect */
    padding: 20px;
}
.main-sidebar,
.left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out,
        width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
@media (min-width: 320px) and (max-width: 551px) {
    .sidebar .sidebar-menu {
        padding-top: 18px;
    }
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative;
    }
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
        margin-right: 0;
    }
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li > a > i {
    font-size: 20px;
}

.sidebar-menu > li > a > span {
    display: none;
}

.content-wrapper {
    margin-left: 50px;
    z-index: 840;
    background-color: #ecf0f5;
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px !important;
        z-index: 840;
    }
}

.dropdownmenu {
    background-color: #1e2428;
    position: absolute;
    left: 80%;
    z-index: 5;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.showside {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222d32;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 70;
    margin: 20px 0px;
}

.showside a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-right: 0;
    padding-left: 10px;
    display: block;
    padding-top: 12px;
}

.showside span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.3s;
    margin-right: 0;
    padding-left: 30px;
}

#masla1 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-right: 0;
    padding-left: 5px;
    padding-top: 5px;
    display: block;
}

/*Content*/
.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
    padding: 30px 15px 15px 27px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
.skin-blue .content-header {
    background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Source Sans Pro", sans-serif;
}

.content-header > h1 {
    margin: 0;
    font-size: 30px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
.content-header > .breadcrumb {
    float: left;
    background: transparent;
    margin-top: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 50px;
    left: 10px;
    border-radius: 2px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.margin {
    margin: 10px;
}
.margin1 {
    margin: 10px;
}

.margin1:before {
    content: "\f015";
    font-size: 15px;
}
.fa-book:before {
    content: "\f02d";
    font-size: 15px;
}
.fa-caret-right {
    font-size: 17px;
    margin-top: 11px;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.box.box-primary {
    border-top-color: #3c8dbc;
    border-top-color: #00aeef;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    padding: 15px 10px 15px 10px;
}
#profileImage img {
    cursor: pointer;
}
.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

#overlay {
    text-align: center;
    padding: 17px 0px 73px 0px;
    opacity: 1;
    margin: 0 auto;
    width: 115px;
    border-radius: 50%;
    margin-top: -112px;
}

.fa-camera:before {
    content: "\f030";
}

.profile-username {
    font-size: 21px;
    margin-top: 5px;
}
.text-center {
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt {
    font-weight: 700;
}
dd,
dt {
    line-height: 1.42857143;
}
.margin-r-5 {
    margin-right: 5px;
}

dd {
    margin-left: 0;
    font-size: 15px;
}

@media (min-width: 992px) {
    .col-md-9 {
        width: 75%;
    }
}
.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 3px;
}

.nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.tab-content > .active {
    display: block;
}
.tab-content > .tab-pane {
    display: visible;
}
.post:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.post {
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
}
@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}
.text-red {
    color: #dd4b39 !important;
}

.panel-group {
    margin-bottom: 20px;
}
#main .panel.panel-default {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-default {
    border-color: #ed1c24 !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default .panel-heading {
    margin: 5px;
}

.panel-default .panel-heading {
    color: #fff;
    background-color: #ed1c24 !important;
    border-color: #ed1c24 !important;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default .panel-heading .panel-title {
    font-weight: bold;
}
.panel-default .panel-heading .panel-title a {
    color: #fff !important;
    text-decoration: none;
}
h4.panel-title a {
    display: block;
    text-decoration: none;
}
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f068";
    padding-right: 5px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-default > .panel-heading + .panel-colapse > .panel-body {
    border-top-color: #ed1c24;
}
.panel-group .panel-heading + .panel-colapse > .list-group,
.panel-group .panel-heading + .panel-colapse > .panel-body {
    border-top: 1px solid #ed1c24;
}
.panel-body {
    padding: 15px;
}
@media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333%;
    }
}

.form-control {
    font-size: 15px;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #00aeef;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.col-md-3,
.col-md-4 > label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}
td,
th {
    padding: 0;
}

table td label {
    font-weight: normal;
}
@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-8 {
        width: 66.66666667%;
    }
}

.no-border {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

textarea {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.panel-title > a.colapsed:before {
    float: right !important;
    content: "\f067";
    text-decoration: none;
}
.colapse.in {
    display: block;
}

.colapse {
    display: none;
}

@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.nigga {
    color: #ecf0f5;
}
